*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body,html{
    height: 100vh;
    width: 100vw;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: white;
    overflow: hidden;
}
#main{
    height: 100vh;
    width: 100vw;
}
#left,#right{
    position: absolute;
    height: 100vh;
    width: 50%;
}
#left{
    /* background: #363A50; */
    background: black;
}
#right{
    left: 50%;
    background:rgb(168, 168, 168);
}
#left-strip,#right-strip{
    position: absolute;
    width: 2px;
    height: 100vh;
    background: #fff;
    opacity: .5;
}
#left-strip{
    left:120px;
}
#right-strip{
    right: 120px;
}
#nav{
    position: fixed;
    width: 100%;
    height: 100px;
}
#logo,#menu,#categories,#search,#bag{
    position: absolute;
    padding: 10px;
    margin-top: 10px;
}
#logo{
    left:20px;
    font-size: 20px;
    font-weight: bolder;
}
#menu{
    left: 150px;
    line-height: 1.2;
    font-size: 20px;
}
#search,#bag{
    display: flex;
    background: #fff;
    /* color: #363A50; */
    color: black;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 18px;
    font-weight: 700;
}

#search{
    right:180px;
}
#bag{
    right:40px;
}
#search:hover,#bag:hover{
    color: white;
    background: black;
}
#categories{
    left:50%;
    top:30%;
    transform: translate(-50%,-50%);
    border:2px solid #fff;
    border-radius: 50px;
    background-color: #fff;
    /* color: #363A50; */
    color: black;
    font-weight: 700;
}
#categories ul li{
     display: inline-block; 
     list-style: none;
     padding: 5px 20px;
}
#media{
    position: absolute;
    left:-100px;
    top:50%;
    transform: rotate(-90deg);
}
#media ul{
    list-style: none;
}
#media ul li{
    display: inline-block;
    font-weight: 500;
}
#media ul li:not(:last-child){
    padding-right: 60px;
}

#size{
    position: absolute;
    left:150px;
    bottom:50px;
    width: 300px;
}
#size ul{
    list-style: none;
}
#size ul li{
    display: inline-block;
    font-weight: 500;
    border:1px solid #fff;
    padding: 5px;
    border-radius: 50%;
    margin-left: 10px;
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 1.2;
    transition: .3s ease-in-out;
    cursor: pointer;
}

#size ul li:hover{
    background: #fff;
    color: black;
}

#size span{
    font-weight: 500;
}

#size span::after{
    display: inline-block;
    content: "";
    border: 0.5px solid #fff;
    opacity: 0.5;
    width: 20%;
    margin: 0 0 0 10px;
    transform: translateY(-4px); 
}

#product-img{
    width:480px;
    height:570px;
    /* max-width: 100%; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-40%);
    animation: fly 5s ease-in infinite;
}
@keyframes fly {
    0%{
        transform: translate(-50%,-46%);
    }
    50%{
        transform: translate(-50%,-54%);
    }
    100%{
        transform: translate(-50%,-46%);
    }
}

#product-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    /* background:linear-gradient(to right,white,white,black,black);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text; */
}
#product-title{
    font-size: 100px;

}
#product-subtitle{
    font-size: 25px;
    top:43%;   
    font-weight: 500;
    color:#B32C3C;
}
#dots{
    position: absolute;
    top: 43%;
    right:-5px;
    transform: rotate(90deg);
}
#dot{
    display: inline-block;
    height: 8px;
    width: 8px;
    /* border: 2px solid #363A50; */
    border: 2px solid black;
    border-radius: 50%;
    margin: 0 10px;
    
}
#dot:nth-child(2){
    /* background-color: #363A50; */
    background-color: black;
    margin-right: 8px;
    
}

#bottomnav{
    position: absolute;
    bottom:10%;
    right: 8%;
    height: 200px;
    width: 200px;
    background-color: #000000;
}
#bottomnav-img{
    position: absolute;
    height: 180px;
    width: 180px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#arrows{
    position: absolute;
    height: 50px;
    width: 150px;
    /* background-color: red; */
    bottom:-25%;
    left: 0%;
}
#arrows ul{
    list-style: none;
}
#arrows ul li{
    display: inline-block;
    color: white;
    font-size: 30px;
    height: 40px;
    width: 40px;
    background-color:#B32C3C;
    padding: 5px 0px 0px 5px;
    margin-top: 10px;
    margin-right: 10px;
    transition: 0.3s ease-in-out;
}
#arrows li:hover{
    background-color: white;
    color: black;
}
#color-logo{
    position: absolute;
    height: 6vh;
    width: 8vw;
    /* bottom: -1%; */
    left: 50%;
    transform: translate(-50%,-50%);
    animation: logoani 4s ease-in-out infinite;
}
@keyframes logoani {
    0%{
        bottom: -1%;
        left: 49.5%;
    }
    50%{
        bottom: -1%;
        left: 50.5%;
    }
    100%{
        bottom: -1%;
        left: 49.5%;
    }
    
}